In [108]:
import pandas as pd
import numpy as np

# List of files and corresponding years
files = {
    "stats_2023.csv": 2023,
    "stats_2024.csv": 2024,
    "stats_2025.csv": 2025
}

# Load each CSV file, add a 'year' column, and store them in a list
dfs = [pd.read_csv(file, index_col=0).assign(year=year) for file, year in files.items()]

# Merge all dataframes into one
merged_df = pd.concat(dfs)

# Quick fix to create new columns (forgot to do so when year 2023 was initialized)
merged_df["avg_earnings_per_article"] = round(merged_df["earnings"] / merged_df["number_articles"] * 100, 2)
merged_df["avg_read_ratio"] = round(merged_df["reads"] / merged_df["views"] * 100, 2)

# Display the first few rows
merged_df.head()

,earnings,followers,follower_gain(change),email_subscribers,views,reads,number_articles,year,avg_earnings_per_article,avg_read_ratio
January,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN
February,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN
March,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN
April,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN
May,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN

In [109]:
merged_df

,earnings,followers,follower_gain(change),email_subscribers,views,reads,number_articles,year,avg_earnings_per_article,avg_read_ratio
January,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN
February,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN
March,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN
April,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN
May,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN
June,0.00,2.0,2.0,0.0,0.0,0.0,0.0,2023,NaN,NaN
July,0.00,48.0,46.0,0.0,122.0,60.0,4.0,2023,0.00,49.18
August,14.25,81.0,33.0,0.0,181.0,83.0,11.0,2023,129.55,45.86
September,10.71,108.0,27.0,0.0,146.0,80.0,13.0,2023,82.38,54.79
October,2.04,137.0,29.0,3.0,91.0,46.0,13.0,2023,15.69,50.55
November,15.48,178.0,41.0,3.0,387.0,258.0,11.0,2023,140.73,66.67
December,159.91,244.0,66.0,5.0,5300.0,4000.0,16.0,2023,999.44,75.47
January,103.26,309.0,65.0,3.0,4500.0,3200.0,15.0,2024,688.40,71.11
February,39.82,358.0,49.0,4.0,1200.0,863.0,10.0,2024,398.20,71.92
March,74.53,384.0,26.0,5.0,2700.0,1800.0,19.0,2024,392.26,66.67
April,206.51,472.0,88.0,9.0,6200.0,4200.0,15.0,2024,1376.73,67.74
May,152.47,539.0,67.0,11.0,3700.0,2600.0,15.0,2024,1016.47,70.27
June,196.38,643.0,104.0,15.0,5300.0,3800.0,16.0,2024,1227.38,71.70
July,319.06,841.0,198.0,19.0,11700.0,7800.0,21.0,2024,1519.33,66.67
August,413.91,1048.0,207.0,21.0,13200.0,9000.0,24.0,2024,1724.62,68.18
September,676.92,1388.0,340.0,27.0,22000.0,16200.0,25.0,2024,2707.68,73.64
October,463.29,1610.0,230.0,30.0,18300.0,12600.0,24.0,2024,1930.38,68.85
November,435.48,1762.0,172.0,29.0,18600.0,13100.0,24.0,2024,1814.50,70.43
December,298.96,1906.0,144.0,31.0,14300.0,9800.0,26.0,2024,1149.85,68.53
January,273.17,1975.0,89.0,29.0,13300.0,9100.0,18.0,2025,1517.61,68.42
February,418.94,2071.0,96.0,30.0,11700.0,8200.0,15.0,2025,2792.93,70.09
March,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN
April,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN
May,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN
June,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN
July,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN
August,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN
September,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN
October,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN
November,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN
December,0.00,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN

In [110]:
merged_df = merged_df.set_index("year", append=True).swaplevel(0, 1).replace(0, np.nan)

In [111]:
merged_df

                earnings  followers  follower_gain(change)  email_subscribers  \
year
2023 January         NaN        NaN                    NaN                NaN
     February        NaN        NaN                    NaN                NaN
     March           NaN        NaN                    NaN                NaN
     April           NaN        NaN                    NaN                NaN
     May             NaN        NaN                    NaN                NaN
     June            NaN        2.0                    2.0                NaN
     July            NaN       48.0                   46.0                NaN
     August        14.25       81.0                   33.0                NaN
     September     10.71      108.0                   27.0                NaN
     October        2.04      137.0                   29.0                3.0
     November      15.48      178.0                   41.0                3.0
     December     159.91      244.0                   66.0                5.0
2024 January      103.26      309.0                   65.0                3.0
     February      39.82      358.0                   49.0                4.0
     March         74.53      384.0                   26.0                5.0
     April        206.51      472.0                   88.0                9.0
     May          152.47      539.0                   67.0               11.0
     June         196.38      643.0                  104.0               15.0
     July         319.06      841.0                  198.0               19.0
     August       413.91     1048.0                  207.0               21.0
     September    676.92     1388.0                  340.0               27.0
     October      463.29     1610.0                  230.0               30.0
     November     435.48     1762.0                  172.0               29.0
     December     298.96     1906.0                  144.0               31.0
2025 January      273.17     1975.0                   89.0               29.0
     February     418.94     2071.0                   96.0               30.0
     March           NaN        NaN                    NaN                NaN
     April           NaN        NaN                    NaN                NaN
     May             NaN        NaN                    NaN                NaN
     June            NaN        NaN                    NaN                NaN
     July            NaN        NaN                    NaN                NaN
     August          NaN        NaN                    NaN                NaN
     September       NaN        NaN                    NaN                NaN
     October         NaN        NaN                    NaN                NaN
     November        NaN        NaN                    NaN                NaN
     December        NaN        NaN                    NaN                NaN

                  views    reads  number_articles  avg_earnings_per_article  \
year
2023 January        NaN      NaN              NaN                       NaN
     February       NaN      NaN              NaN                       NaN
     March          NaN      NaN              NaN                       NaN
     April          NaN      NaN              NaN                       NaN
     May            NaN      NaN              NaN                       NaN
     June           NaN      NaN              NaN                       NaN
     July         122.0     60.0              4.0                       NaN
     August       181.0     83.0             11.0                    129.55
     September    146.0     80.0             13.0                     82.38
     October       91.0     46.0             13.0                     15.69
     November     387.0    258.0             11.0                    140.73
     December    5300.0   4000.0             16.0                    999.44
2024 January     4500.0   3200.0             15.0                    688.40
     February    1200.0    863.0             10.0                    398.20
     March       2700.0   1800.0             19.0                    392.26
     April       6200.0   4200.0             15.0                   1376.73
     May         3700.0   2600.0             15.0                   1016.47
     June        5300.0   3800.0             16.0                   1227.38
     July       11700.0   7800.0             21.0                   1519.33
     August     13200.0   9000.0             24.0                   1724.62
     September  22000.0  16200.0             25.0                   2707.68
     October    18300.0  12600.0             24.0                   1930.38
     November   18600.0  13100.0             24.0                   1814.50
     December   14300.0   9800.0             26.0                   1149.85
2025 January    13300.0   9100.0             18.0                   1517.61
     February   11700.0   8200.0             15.0                   2792.93
     March          NaN      NaN              NaN                       NaN
     April          NaN      NaN              NaN                       NaN
     May            NaN      NaN              NaN                       NaN
     June           NaN      NaN              NaN                       NaN
     July           NaN      NaN              NaN                       NaN
     August         NaN      NaN              NaN                       NaN
     September      NaN      NaN              NaN                       NaN
     October        NaN      NaN              NaN                       NaN
     November       NaN      NaN              NaN                       NaN
     December       NaN      NaN              NaN                       NaN

                avg_read_ratio
year
2023 January               NaN
     February              NaN
     March                 NaN
     April                 NaN
     May                   NaN
     June                  NaN
     July                49.18
     August              45.86
     September           54.79
     October             50.55
     November            66.67
     December            75.47
2024 January             71.11
     February            71.92
     March               66.67
     April               67.74
     May                 70.27
     June                71.70
     July                66.67
     August              68.18
     September           73.64
     October             68.85
     November            70.43
     December            68.53
2025 January             68.42
     February            70.09
     March                 NaN
     April                 NaN
     May                   NaN
     June                  NaN
     July                  NaN
     August                NaN
     September             NaN
     October               NaN
     November              NaN
     December              NaN

In [112]:
merged_df = merged_df.reset_index().rename(columns={"level_1": "month"})

In [ ]:
# merged_df.to_csv("medium_data.csv", index=False)

In [117]:
df2 = pd.read_csv("medium_data.csv", index_col="year")