In [ ]:
import pandas as pd
import numpy as np

# List of files and corresponding years
files = {
    "stats_2023.csv": 2023,
    "stats_2024.csv": 2024,
    "stats_2025.csv": 2025
}

# Load each CSV file, add a 'year' column, and store them in a list
dfs = [pd.read_csv(file, index_col=0).assign(year=year) for file, year in files.items()]

# Merge all dataframes into one
merged_df = pd.concat(dfs)

# Quick fix to create new columns (forgot to do so when year 2023 was initialized)
# merged_df["avg_earnings_per_article"] = round(merged_df["earnings"] / merged_df["number_articles"], 2)
# merged_df["avg_read_ratio"] = round(merged_df["reads"] / merged_df["views"] * 100, 2)


# Display the first few rows
merged_df.head()

,earnings,followers,follower_gain(change),email_subscribers,views,reads,number_articles,year,avg_earnings_per_article,avg_read_ratio,views_reads_discrepency
January,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN,0.0
February,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN,0.0
March,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN,0.0
April,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN,0.0
May,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN,0.0

In [3]:
merged_df

,earnings,followers,follower_gain(change),email_subscribers,views,reads,number_articles,year,avg_earnings_per_article,avg_read_ratio,views_reads_discrepency
January,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN,0.0
February,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN,0.0
March,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN,0.0
April,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN,0.0
May,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,NaN,NaN,0.0
June,0.0,2.0,2.0,0.0,0.0,0.0,0.0,2023,NaN,NaN,0.0
July,0.0,48.0,46.0,0.0,122.0,60.0,4.0,2023,NaN,NaN,62.0
August,14.25,81.0,33.0,0.0,181.0,83.0,11.0,2023,NaN,NaN,98.0
September,10.71,108.0,27.0,0.0,146.0,80.0,13.0,2023,NaN,NaN,66.0
October,2.04,137.0,29.0,3.0,91.0,46.0,13.0,2023,NaN,NaN,45.0
November,15.48,178.0,41.0,3.0,387.0,258.0,11.0,2023,NaN,NaN,129.0
December,159.91,244.0,66.0,5.0,5300.0,4000.0,16.0,2023,NaN,NaN,1300.0
January,103.26,309.0,65.0,3.0,4500.0,3200.0,15.0,2024,6.884000,71.11,1300.0
February,39.82,358.0,49.0,4.0,1200.0,863.0,10.0,2024,3.982000,71.92,337.0
March,74.53,384.0,26.0,5.0,2700.0,1800.0,19.0,2024,3.922632,66.67,900.0
April,206.51,472.0,88.0,9.0,6200.0,4200.0,15.0,2024,13.767333,67.74,2000.0
May,152.47,539.0,67.0,11.0,3700.0,2600.0,15.0,2024,10.164667,70.27,1100.0
June,196.38,643.0,104.0,15.0,5300.0,3800.0,16.0,2024,12.273750,71.70,1500.0
July,319.06,841.0,198.0,19.0,11700.0,7800.0,21.0,2024,15.193333,66.67,3900.0
August,413.91,1048.0,207.0,21.0,13200.0,9000.0,24.0,2024,17.246250,68.18,4200.0
September,676.92,1388.0,340.0,27.0,22000.0,16200.0,25.0,2024,27.076800,73.64,5800.0
October,463.29,1610.0,230.0,30.0,18300.0,12600.0,24.0,2024,19.300000,68.85,5700.0
November,435.48,1762.0,172.0,29.0,18600.0,13100.0,24.0,2024,18.140000,70.43,5500.0
December,298.96,1906.0,144.0,31.0,14300.0,9800.0,26.0,2024,11.490000,68.53,4500.0
January,273.17,1975.0,89.0,29.0,13300.0,9100.0,18.0,2025,15.176111,68.42,4200.0
February,418.94,2071.0,96.0,30.0,11700.0,8200.0,15.0,2025,27.929333,70.09,3500.0
March,416.54.,2140.0,78.0,30.0,11300.0,7700.0,15.0,2025,27.760000,68.14,3600.0
April,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN,0.0
May,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN,0.0
June,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN,0.0
July,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN,0.0
August,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN,0.0
September,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN,0.0
October,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN,0.0
November,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN,0.0
December,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025,NaN,NaN,0.0

In [4]:
merged_df = merged_df.set_index("year", append=True).swaplevel(0, 1).replace(0, np.nan)

In [5]:
merged_df

               earnings  followers  follower_gain(change)  email_subscribers  \
year
2023 January        NaN        NaN                    NaN                NaN
     February       NaN        NaN                    NaN                NaN
     March          NaN        NaN                    NaN                NaN
     April          NaN        NaN                    NaN                NaN
     May            NaN        NaN                    NaN                NaN
     June           NaN        2.0                    2.0                NaN
     July           NaN       48.0                   46.0                NaN
     August       14.25       81.0                   33.0                NaN
     September    10.71      108.0                   27.0                NaN
     October       2.04      137.0                   29.0                3.0
     November     15.48      178.0                   41.0                3.0
     December    159.91      244.0                   66.0                5.0
2024 January     103.26      309.0                   65.0                3.0
     February     39.82      358.0                   49.0                4.0
     March        74.53      384.0                   26.0                5.0
     April       206.51      472.0                   88.0                9.0
     May         152.47      539.0                   67.0               11.0
     June        196.38      643.0                  104.0               15.0
     July        319.06      841.0                  198.0               19.0
     August      413.91     1048.0                  207.0               21.0
     September   676.92     1388.0                  340.0               27.0
     October     463.29     1610.0                  230.0               30.0
     November    435.48     1762.0                  172.0               29.0
     December    298.96     1906.0                  144.0               31.0
2025 January     273.17     1975.0                   89.0               29.0
     February    418.94     2071.0                   96.0               30.0
     March      416.54.     2140.0                   78.0               30.0
     April          0.0        NaN                    NaN                NaN
     May            0.0        NaN                    NaN                NaN
     June           0.0        NaN                    NaN                NaN
     July           0.0        NaN                    NaN                NaN
     August         0.0        NaN                    NaN                NaN
     September      0.0        NaN                    NaN                NaN
     October        0.0        NaN                    NaN                NaN
     November       0.0        NaN                    NaN                NaN
     December       0.0        NaN                    NaN                NaN

                  views    reads  number_articles  avg_earnings_per_article  \
year
2023 January        NaN      NaN              NaN                       NaN
     February       NaN      NaN              NaN                       NaN
     March          NaN      NaN              NaN                       NaN
     April          NaN      NaN              NaN                       NaN
     May            NaN      NaN              NaN                       NaN
     June           NaN      NaN              NaN                       NaN
     July         122.0     60.0              4.0                       NaN
     August       181.0     83.0             11.0                       NaN
     September    146.0     80.0             13.0                       NaN
     October       91.0     46.0             13.0                       NaN
     November     387.0    258.0             11.0                       NaN
     December    5300.0   4000.0             16.0                       NaN
2024 January     4500.0   3200.0             15.0                  6.884000
     February    1200.0    863.0             10.0                  3.982000
     March       2700.0   1800.0             19.0                  3.922632
     April       6200.0   4200.0             15.0                 13.767333
     May         3700.0   2600.0             15.0                 10.164667
     June        5300.0   3800.0             16.0                 12.273750
     July       11700.0   7800.0             21.0                 15.193333
     August     13200.0   9000.0             24.0                 17.246250
     September  22000.0  16200.0             25.0                 27.076800
     October    18300.0  12600.0             24.0                 19.300000
     November   18600.0  13100.0             24.0                 18.140000
     December   14300.0   9800.0             26.0                 11.490000
2025 January    13300.0   9100.0             18.0                 15.176111
     February   11700.0   8200.0             15.0                 27.929333
     March      11300.0   7700.0             15.0                 27.760000
     April          NaN      NaN              NaN                       NaN
     May            NaN      NaN              NaN                       NaN
     June           NaN      NaN              NaN                       NaN
     July           NaN      NaN              NaN                       NaN
     August         NaN      NaN              NaN                       NaN
     September      NaN      NaN              NaN                       NaN
     October        NaN      NaN              NaN                       NaN
     November       NaN      NaN              NaN                       NaN
     December       NaN      NaN              NaN                       NaN

                avg_read_ratio  views_reads_discrepency
year
2023 January               NaN                      NaN
     February              NaN                      NaN
     March                 NaN                      NaN
     April                 NaN                      NaN
     May                   NaN                      NaN
     June                  NaN                      NaN
     July                  NaN                     62.0
     August                NaN                     98.0
     September             NaN                     66.0
     October               NaN                     45.0
     November              NaN                    129.0
     December              NaN                   1300.0
2024 January             71.11                   1300.0
     February            71.92                    337.0
     March               66.67                    900.0
     April               67.74                   2000.0
     May                 70.27                   1100.0
     June                71.70                   1500.0
     July                66.67                   3900.0
     August              68.18                   4200.0
     September           73.64                   5800.0
     October             68.85                   5700.0
     November            70.43                   5500.0
     December            68.53                   4500.0
2025 January             68.42                   4200.0
     February            70.09                   3500.0
     March               68.14                   3600.0
     April                 NaN                      NaN
     May                   NaN                      NaN
     June                  NaN                      NaN
     July                  NaN                      NaN
     August                NaN                      NaN
     September             NaN                      NaN
     October               NaN                      NaN
     November              NaN                      NaN
     December              NaN                      NaN

In [6]:
merged_df = merged_df.reset_index().rename(columns={"level_1": "month"})

In [7]:
# merged_df.to_csv("medium_data.csv", index=False)

### Extra data
I went back and manually calculated the average article "length" (in minutes) for each month, going as far back as possible.
I don't have some of my older articles anymore, because I deleted them (even if medium still keeps track of my stats from those earlier months).
I'm curious if there's a correlation between "article length" and any other features, so I am going to merge two dataframes together.

In [14]:
# read in the csv files as pandas dataframes
#  (the first csv file was orginally created)
average_article_len = pd.read_csv("average_article_length.csv")
medium_data = pd.read_csv("medium_data.csv")

In [15]:
medium_data["views_reads_discrepency"] = medium_data["views"] - merged_df["reads"]

In [16]:
average_article_len

        month  year  average_article_length(minutes)
0     January  2023                              NaN
1    February  2023                              NaN
2       March  2023                              NaN
3       April  2023                              NaN
4         May  2023                              NaN
5        June  2023                              NaN
6        July  2023                              NaN
7      August  2023                             4.16
8   September  2023                             4.66
9     October  2023                             4.53
10   November  2023                             4.40
11   December  2023                             4.33
12    January  2024                             5.60
13   February  2024                             6.00
14      March  2024                             5.00
15      April  2024                             6.92
16        May  2024                             6.06
17       June  2024                             6.50
18       July  2024                             6.90
19     August  2024                             6.12
20  September  2024                             6.87
21    October  2024                             7.12
22   November  2024                             5.19
23   December  2024                             5.19
24    January  2025                             5.94
25   February  2025                             6.13
26      March  2025                             6.33
27      April  2025                              NaN
28        May  2025                              NaN
29       June  2025                              NaN
30       July  2025                              NaN
31     August  2025                              NaN
32  September  2025                              NaN
33    October  2025                              NaN
34   November  2025                              NaN
35   December  2025                              NaN

In [17]:
# merge on year and month columns since they both have commonality
new_final_merged_df = pd.merge(medium_data, average_article_len, on=["year","month"], how='left')

In [ ]:
# Re run this older code to overwrite the csv file to load into the second notebook
#new_final_merged_df.to_csv("medium_data1.csv", index=False)